@import "./variables.css";
@import "./fonts.css";
@import "./reset.css";
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/button-call.css";
@import "./components/button.css";

.wrapper-navbar {
  position: sticky;
  top: 0;
  background-color: var(--simple-white);
  border-bottom: 1px solid #ECECEC;
}

.wrapper-hero {
  background-color: var(--simple-white);
  border-radius: 0 0 40px 40px;
}

.container {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper-wireframe {
  background-color: var(--simple-white);
  border-radius: 40px 40px 0 0;
}

.wrapper-features {
  background-color: var(--simple-white);
}

.wrapper-subscribe {
  background: var(--simple-white) url("../img/pages/homePage/subscribe/city.svg") bottom repeat no-repeat;
}