@import "./variables.css";
@import "./fonts.css";
@import "./reset.css";
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/button-call.css";
@import "./components/button.css";

.wrapper {}

.container {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 390px) {
  .container {
    padding: 0 24px;
  }
}