@import "./variables.css";
@import "./fonts.css";
@import "./reset.css";
@import "./components/navbar.css";
@import "./components/footer.css";

.wrapper-navbar {
  position: sticky;
  top: 0;
  background-color: var(--simple-white);
}

.container {
  max-width: 1064px;
  margin: 0 auto;
}
