*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  color: var(--simple-silver);
}

body {
  min-height: 100vh;
  background: var(--simple-black);
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}