:root {
  --simple-white: #FFFFFF;
  --simple-silver: #8D8F9A;
  --simple-black: #000000;
  --simple-blue: #4F68FF;
  --normal-silver: #86868B;
  --normal-blue: #1C0BE0;
  --mark-silver: rgba(0, 0, 0, 0.24);
}
