.section-subscribe {
  padding-bottom: 292px;
  margin: 0 auto;
  text-align: center;
  max-width: 508px;
}

.section-subscribe__text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--simple-blue);
}

.section-subscribe__heading {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  color: var(--simple-black);
}

.section-subscribe__discription {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.section-subscribe-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8px 8px 8px 28px;
  max-width: 388px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50px;
}

.section-subscribe__input {
  color: var(--simple-black);
}

.section-subscribe-form__btn {
  padding: 12px 20px;
}