.wrapper-features {
  background-color: var(--simple-white);
}

.section-features {
  padding-bottom: 120px;
}

.section-features-info {
  margin: 0 auto 48px;
  text-align: center;
  max-width: 508px;
}

.section-features-info__heading {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  color: var(--simple-black);
}

.section-features-info__discription {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.section-features-info__btn {}

.section-features-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.section-features-card-item {
  padding: 32px 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  box-shadow: 0px 20px 32px rgba(219, 222, 225, 0.2);
}

.section-features-card-item__icon {
  margin: 0 auto 32px;
}

.section-features-card-item__heading {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: var(--simple-black);
}

.section-features-card-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
