.wrapper-wireframe {
  background-color: var(--simple-white);
  border-radius: 40px 40px 0 0;
}

.section-wireframe {
  padding: 120px 0;
}

.section-wireframe-use {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.section-wireframe-use__img {}

.section-wireframe-use-discription {}

.section-wireframe-use-discription-heading {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 800;
  line-height: 62px;
  color: var(--simple-black);
}

.section-wireframe-use-discription-heading__mark {
  color: var(--mark-silver);
}

.section-wireframe-use-discription__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.section-wireframe-drop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.section-wireframe-drop__img {}

.section-wireframe-drop-discription {}

.section-wireframe-drop-discription-heading {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 800;
  line-height: 62px;
  color: var(--simple-black);
}

.section-wireframe-drop-discription-heading__mark {
  color: var(--mark-silver);
}

.section-wireframe-drop-discription__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 390px) {
  .section-wireframe {
    padding: 64px 0;
  }

  .section-wireframe-use {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    row-gap: 40px;
  }

  .section-wireframe-use__img {
    margin: 0 auto;
    max-width: 256px;
  }

  .section-wireframe-use-discription {
    text-align: center;
  }

  .section-wireframe-use-discription-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .section-wireframe-drop {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    row-gap: 40px;
  }

  .section-wireframe-drop__img {
    margin: 0 auto;
    max-width: 256px;
    order: -1;
  }

  .section-wireframe-drop-discription {
    text-align: center;
  }

  .section-wireframe-drop-discription-heading {
    font-size: 40px;
    line-height: 40px;
  }
}
