.wrapper-hero {
  background-color: var(--simple-white);
  border-radius: 0 0 40px 40px;
}

.section-hero {
  padding-top: 88px;
}

.section-hero-info {
  margin: 0 auto 64px;
  text-align: center;
  max-width: 752px;
}

.section-hero-info__text {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--simple-blue);
}

.section-hero-info-heading {
  margin-bottom: 32px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: var(--simple-black);
}

.section-hero-info-heading__mark {
  color: var(--mark-silver);
}

.section-hero-info__discription {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  max-width: 460px;
}

.section-hero__app-img {
  margin: 0 auto;
}

@media (max-width: 390px) {
  .section-hero {
    padding-top: 64px;
  }

  .section-hero-info {
    margin: 0 auto 56px;
  }

  .section-hero-info-heading {
    font-size: 50px;
    line-height: 50px;
  }

  .section-hero__app-img {
    max-width: 320px;
  }
}

