.btn-call {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--normal-blue);
  background-clip: padding-box;
  border: 8px solid rgba(79, 104, 255, 0.1);
}

.btn-call__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}