.wrapper-navbar {
  position: sticky;
  top: 0;
  background-color: var(--simple-white);
  border-bottom: 1px solid #ECECEC;
}

.container.container-navbar {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  padding: 32px 0;
}

.navbar-logo__img {}

.navbar-list {
  display: flex;
  column-gap: 48px;
}

.navbar-list-item {}

.navbar-list-item__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--simple-black);
}

.navbar-list-item__link:hover {
  color: var(--normal-blue);
}

.navbar-burger {
  display: none;
}

.navbar-burger__img {}

@media (max-width: 390px) {
  .container.container-navbar {
    padding: 0 24px;
  }

  .navbar-list {
    display: none;
  }

  .navbar-burger {
    display: block;
  }
}
