.container-navbar {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  padding: 32px 0;
}

.navbar-logo_img {}

.navbar-list {
  display: flex;
  column-gap: 48px;
}

.navbar-list-item {}

.navbar-list-item_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--simple-black);
}

.navbar-burger {
  display: none;
}

.navbar-burger_img {}

@media (max-width: 390px) {
  .navbar-list {
    display: none;
  }

  .navbar-burger {
    display: block;
  }
}
